*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
#upperBanner img{
    max-width: 100%;
}

#aboveNavBar{
    height: 85px;
    display: flex;
    align-items: center;
}
#aboveNavBar img{
    margin-left: 55px;
}
.searchBox input[type=text] {
    width: 118%;
    font-size: 13px;
    padding: 12px 20px 12px 40px;
    border: 0.5px solid rgb(223, 220, 220);
} 

.searchBox input::-webkit-input-placeholder {
        text-align: left;
}

.categoryBox select{
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    padding: 12px 20px 12px 40px;
    border: 0.5px solid rgb(223, 220, 220);
}
#searchIcon > div{
    width: 41px;
    height: 41px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 128);
    
}

#aboveNavBar :nth-child(2){
    display: flex;
    margin: auto;
}
#MyProfile{
    display: flex;
    font-size: larger;
    padding: 75px;
}
#MyProfile > p{
    padding-left: 20px;
}
#favourites{
    font-size: 21px;
    margin-right: -50px;
}
/* #favourites > i:hover{
    cursor: pointer;
    background-color:rgb(255, 0, 128) ;
} */
/* .fa-heart:hover{
    cursor: pointer;
    background-color:rgb(255, 0, 128) ;
} */
#MyProfile > div{
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-top: 8px;
    display: flex;
    justify-content: center
}#MyProfile div:hover{
    background-color: 	rgb(255, 0, 128); ;
}
#favourites > div{
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    padding-top: 8px;
    display: flex;
    justify-content: center
    
}
#parentNavBar{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
#parentNavBar > div{
    height: 45px;
    width: 100%;
    font-size: smaller;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: 	rgb(255, 0, 128);
    cursor: pointer;
}
#parentNavBar div:hover{
    background-color: rgb(184, 77, 123);
}
