#parentbox {
  border: 1px solid;
  display: flex;
}
.head {
  border: 1px solid;
  width: 200px;
  margin-left: 20px;
  margin-top: 50px;
  padding: 10px;
}
img {
  width: 100%;
}
.header {
  border: 1px solid;
  width: 100%;
  height: fit-content;
  margin-left: 20px;
  margin-top: 50px;
  padding: 10px;
}
.firstbox {
  display: block;
  border: 1px solid;
  width: 550px;
  height: 200px;
  padding: 20px;
}
#information {
  display: flex;
  justify-content: space-evenly;
}
#button {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  padding: 10px;
}
#button > button {
  background-color: plum;
}
#add {
  display: flex;
  margin: 10px;
}
